/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_grid_responsive */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2 {
  text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_center_button.asp */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* https://www.w3schools.com/tags/tag_button.asp */
button {
	background-color: white;
	color: black;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.submit {
	border: 2px solid #4caf50;
}

.submit:hover {
	background-color: #4caf50;
	color: white;
}

.skip {
	border: 2px solid #ff4000;
}

.skip:hover {
	background-color: #ff4000;
	color: white;
}

img {
	max-height: 600px;
	max-width: 600px;
	border: 1px solid black;
}

img.clicked {
	border: 8px solid #4caf50;
}

.lang {
	font-style: italic;
}

.term {
	font-style: italic;
}

/* https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}
